name: Arduino Build

on:
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - .git*
      - "**.md"
      - "library.properties"
      - "library.json"
  pull_request:
    branches:
      - main
      - develop
    paths-ignore:
      - .git*
      - "**.md"
      - "library.properties"
      - "library.json"

jobs:
  build:
    name: "Build Test: ${{ matrix.board.arch }}:${{ matrix.board.name }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        board:
          - vendor: esp8266
            arch: esp8266
            name: generic
          - vendor: esp32
            arch: esp32
            name: esp32
          - vendor: esp32
            arch: esp32
            name: esp32s3
          - vendor: esp32
            arch: esp32
            name: esp32c3
          - vendor: rp2040
            arch: rp2040
            name: rpipico
          - vendor: rp2040
            arch: rp2040
            name: rpipico2
          - vendor: STMicroelectronics
            arch: stm32
            name: Nucleo_64:pnum=NUCLEO_F401RE
          - vendor: teensy
            arch: avr
            name: teensy41
        include:
          - index: https://arduino.esp8266.com/stable/package_esp8266com_index.json
            board:
              vendor: esp8266
          - index: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
            board:
              vendor: esp32
          - index: https://github.com/earlephilhower/arduino-pico/releases/download/global/package_rp2040_index.json
            board:
              vendor: rp2040
          - index: https://www.pjrc.com/teensy/package_teensy_index.json
            board:
              vendor: teensy
          - index: https://github.com/stm32duino/BoardManagerFiles/raw/main/package_stmicroelectronics_index.json
            board:
              vendor: STMicroelectronics
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/arduino-lint-action@v2
        with:
          library-manager: false
      - name: Compile example sketches
        uses: arduino/compile-sketches@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fqbn: ${{ matrix.board.vendor }}:${{ matrix.board.arch }}:${{ matrix.board.name }}
          platforms: |
            - name: ${{ matrix.board.vendor }}:${{ matrix.board.arch }}
              source-url: ${{ matrix.index }}
          sketch-paths: |
            - examples/basic
            - examples/advanced
            - examples/assert
            - examples/benchmark
            - examples/preamble
          libraries: |
            - source-path: ./
            - name: FmtLib
          verbose: true

  file_storage:
    name: "Build File Storage: ${{ matrix.board.arch }}:${{ matrix.board.name }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        board:
          - vendor: esp32
            arch: esp32
            name: esp32
          - vendor: esp32
            arch: esp32
            name: esp32s3
        include:
          - index: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
            board:
              vendor: esp32
    steps:
      - uses: actions/checkout@v4
      - name: Compile file storage example
        uses: arduino/compile-sketches@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fqbn: ${{ matrix.board.vendor }}:${{ matrix.board.arch }}:${{ matrix.board.name }}
          platforms: |
            - name: ${{ matrix.board.vendor }}:${{ matrix.board.arch }}
              source-url: ${{ matrix.index }}
          sketch-paths: |
            - examples/file_storage
          libraries: |
            - source-path: ./
            - name: FmtLib
          verbose: true
